/**
 * Base: Typography
 * -----------------------------------------------------------------------------
 * Defines the theme fonts and typographic styles.
 */
body {
  font-family: $FONT_BODY;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-weight: $WEIGHT_REGULAR;
  letter-spacing: $LETTER_SPACING_BODY;
  line-height: $LINE_HEIGHT_BODY;
}

h1, .h1 {
  font-family: $FONT_HEADING;
  font-weight: $WEIGHT_BLACK;
  letter-spacing: $LETTER_SPACING_HEADING;
  line-height: $LINE_HEIGHT_HEADING;
}

h2, .h2 {
  font-family: $FONT_HEADING;
  font-weight: $WEIGHT_BLACK;
  letter-spacing: $LETTER_SPACING_HEADING;
  line-height: $LINE_HEIGHT_HEADING;
}

h3, .h3 {
  font-family: $FONT_HEADING;
  font-weight: $WEIGHT_BLACK;
  letter-spacing: $LETTER_SPACING_HEADING;
  line-height: $LINE_HEIGHT_HEADING;
}

h4, .h4 {
  font-family: $FONT_HEADING;
  font-weight: $WEIGHT_BLACK;
  letter-spacing: $LETTER_SPACING_HEADING;
  line-height: $LINE_HEIGHT_HEADING;
}

h5, .h5 {
  font-family: $FONT_HEADING;
  font-weight: $WEIGHT_BLACK;
  letter-spacing: $LETTER_SPACING_HEADING;
  line-height: $LINE_HEIGHT_HEADING;
}

h6, .h6 {
  font-family: $FONT_HEADING;
  font-weight: $WEIGHT_BLACK;
  letter-spacing: $LETTER_SPACING_HEADING;
  line-height: $LINE_HEIGHT_HEADING;
}

p {
  font-size: 18px;
}