/**
 * Config: Grid
 * -----------------------------------------------------------------------------
 * The grid set up, styling and mixins.
 */
 @import './node_modules/sass-mq/_mq';

 $mq-breakpoints: (
   tiny: 320px,
   small: 576px,
   medium: 768px,
   large: 1024px,
   wide: 1430px
 );
 
 $NUM_COLS: 12 !default;
 $GUTTER_WIDTH: 3em !default;
 
 @mixin grid-classes($size, $i) {
   $perc: 100% / $NUM_COLS * $i;
 
   &.#{$size}#{$i} {
     flex: 0 0 $perc;
     max-width: $perc;
   }
 
   &.offset-#{$size}#{$i} {
     margin-left: $perc;
   }
 
   &.pull-#{$size}#{$i} {
     right: $perc;
   }
 
   &.push-#{$size}#{$i} {
     left: $perc;
   }
 }
 
 .container {
   margin: 0 auto;
   max-width: 1300px;
   width: 100%;
 }
 
 .row {
   align-items: flex-start;
   display: flex;
   flex-wrap: wrap;
 
   .col {
     box-sizing: border-box;
     min-height: 1px;
     padding: 0 $GUTTER_WIDTH / 2;
 
     &[class*=push-],
     &[class*=pull-] {
       position: relative;
     }
 
     @for $i from 1 through $NUM_COLS {
       @include grid-classes('xs', $i);
     }

     @include mq($from: small) {
      @for $i from 1 through $NUM_COLS {
        @include grid-classes('s', $i);
      }
    }
 
     @include mq($from: medium) {
       @for $i from 1 through $NUM_COLS {
         @include grid-classes('m', $i);
       }
     }
 
     @include mq($from: large) {
       @for $i from 1 through $NUM_COLS {
         @include grid-classes('l', $i);
       }
     }
 
     @include mq($from: wide) {
       @for $i from 1 through $NUM_COLS {
         @include grid-classes('xl', $i);
       }
     }
   }

   &.align-center {
      align-items: center;
    }

    &.align-start {
      align-items: flex-start;
    }

    &.align-end {
      align-items: flex-end;
    }

    &.justify-center {
    justify-content: center;
  }

  &.justify-start {
    justify-content: flex-start;
  }

  &.justify-end {
    justify-content: flex-end;
  }
 
   &::after {
     content: '';
     clear: both;
     display: block;
   }
 }
 
 .col .row {
   margin-left: (-1 * $GUTTER_WIDTH / 2);
   margin-right: (-1 * $GUTTER_WIDTH / 2);
 }
 