/**
 * Config: Mixins
 * -----------------------------------------------------------------------------
 * Useful style mixins.
 */

/**
 * Resets buttons to not use default browser styles.
 */
@mixin button-reset() {
  appearance: none;
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
}

/**
 * Visually hides an element, but visible to screen readers.
 */
@mixin visually-hidden() {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/**
 * Resets list elements to appear as text links.
 */
@mixin list-reset() {
  list-style: none;
  margin: 0;
  padding: 0;
}

/**
 * Provides a red grazed background.
 */
@mixin grazed-background() {
  background-color: $COLOR_ALIZARIN_CRIMSON;
  position: relative;
  z-index: 0;

  &::before {
    background-image: url('../images/newsletter-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
  }
}

/**
 * Provides a border top pseudo element.
 */
@mixin border-top($path) {
  position: relative;
  z-index: 1;

  &::before {
    background-image: url($path);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: -1px;
    width: 100%;
    z-index: -1;
  }
}

/**
 * Provides a border bottom pseudo element.
 */
@mixin border-bottom($path) {
  position: relative;
  z-index: 1;

  &::after {
    background-image: url($path);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    bottom: -1px;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: -1;
  }
}