/**
 * Config: Grid
 * -----------------------------------------------------------------------------
 * The grid set up, styling and mixins.
 */
.container {
  margin: 0 auto;
  max-width: 1300px;
  width: 100%; }

.row {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap; }
  .row .col {
    box-sizing: border-box;
    min-height: 1px;
    padding: 0 1.5em; }
    .row .col[class*=push-], .row .col[class*=pull-] {
      position: relative; }
    .row .col.xs1 {
      flex: 0 0 8.33333%;
      max-width: 8.33333%; }
    .row .col.offset-xs1 {
      margin-left: 8.33333%; }
    .row .col.pull-xs1 {
      right: 8.33333%; }
    .row .col.push-xs1 {
      left: 8.33333%; }
    .row .col.xs2 {
      flex: 0 0 16.66667%;
      max-width: 16.66667%; }
    .row .col.offset-xs2 {
      margin-left: 16.66667%; }
    .row .col.pull-xs2 {
      right: 16.66667%; }
    .row .col.push-xs2 {
      left: 16.66667%; }
    .row .col.xs3 {
      flex: 0 0 25%;
      max-width: 25%; }
    .row .col.offset-xs3 {
      margin-left: 25%; }
    .row .col.pull-xs3 {
      right: 25%; }
    .row .col.push-xs3 {
      left: 25%; }
    .row .col.xs4 {
      flex: 0 0 33.33333%;
      max-width: 33.33333%; }
    .row .col.offset-xs4 {
      margin-left: 33.33333%; }
    .row .col.pull-xs4 {
      right: 33.33333%; }
    .row .col.push-xs4 {
      left: 33.33333%; }
    .row .col.xs5 {
      flex: 0 0 41.66667%;
      max-width: 41.66667%; }
    .row .col.offset-xs5 {
      margin-left: 41.66667%; }
    .row .col.pull-xs5 {
      right: 41.66667%; }
    .row .col.push-xs5 {
      left: 41.66667%; }
    .row .col.xs6 {
      flex: 0 0 50%;
      max-width: 50%; }
    .row .col.offset-xs6 {
      margin-left: 50%; }
    .row .col.pull-xs6 {
      right: 50%; }
    .row .col.push-xs6 {
      left: 50%; }
    .row .col.xs7 {
      flex: 0 0 58.33333%;
      max-width: 58.33333%; }
    .row .col.offset-xs7 {
      margin-left: 58.33333%; }
    .row .col.pull-xs7 {
      right: 58.33333%; }
    .row .col.push-xs7 {
      left: 58.33333%; }
    .row .col.xs8 {
      flex: 0 0 66.66667%;
      max-width: 66.66667%; }
    .row .col.offset-xs8 {
      margin-left: 66.66667%; }
    .row .col.pull-xs8 {
      right: 66.66667%; }
    .row .col.push-xs8 {
      left: 66.66667%; }
    .row .col.xs9 {
      flex: 0 0 75%;
      max-width: 75%; }
    .row .col.offset-xs9 {
      margin-left: 75%; }
    .row .col.pull-xs9 {
      right: 75%; }
    .row .col.push-xs9 {
      left: 75%; }
    .row .col.xs10 {
      flex: 0 0 83.33333%;
      max-width: 83.33333%; }
    .row .col.offset-xs10 {
      margin-left: 83.33333%; }
    .row .col.pull-xs10 {
      right: 83.33333%; }
    .row .col.push-xs10 {
      left: 83.33333%; }
    .row .col.xs11 {
      flex: 0 0 91.66667%;
      max-width: 91.66667%; }
    .row .col.offset-xs11 {
      margin-left: 91.66667%; }
    .row .col.pull-xs11 {
      right: 91.66667%; }
    .row .col.push-xs11 {
      left: 91.66667%; }
    .row .col.xs12 {
      flex: 0 0 100%;
      max-width: 100%; }
    .row .col.offset-xs12 {
      margin-left: 100%; }
    .row .col.pull-xs12 {
      right: 100%; }
    .row .col.push-xs12 {
      left: 100%; }
    @media (min-width: 36em) {
      .row .col.s1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%; }
      .row .col.offset-s1 {
        margin-left: 8.33333%; }
      .row .col.pull-s1 {
        right: 8.33333%; }
      .row .col.push-s1 {
        left: 8.33333%; }
      .row .col.s2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%; }
      .row .col.offset-s2 {
        margin-left: 16.66667%; }
      .row .col.pull-s2 {
        right: 16.66667%; }
      .row .col.push-s2 {
        left: 16.66667%; }
      .row .col.s3 {
        flex: 0 0 25%;
        max-width: 25%; }
      .row .col.offset-s3 {
        margin-left: 25%; }
      .row .col.pull-s3 {
        right: 25%; }
      .row .col.push-s3 {
        left: 25%; }
      .row .col.s4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%; }
      .row .col.offset-s4 {
        margin-left: 33.33333%; }
      .row .col.pull-s4 {
        right: 33.33333%; }
      .row .col.push-s4 {
        left: 33.33333%; }
      .row .col.s5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%; }
      .row .col.offset-s5 {
        margin-left: 41.66667%; }
      .row .col.pull-s5 {
        right: 41.66667%; }
      .row .col.push-s5 {
        left: 41.66667%; }
      .row .col.s6 {
        flex: 0 0 50%;
        max-width: 50%; }
      .row .col.offset-s6 {
        margin-left: 50%; }
      .row .col.pull-s6 {
        right: 50%; }
      .row .col.push-s6 {
        left: 50%; }
      .row .col.s7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%; }
      .row .col.offset-s7 {
        margin-left: 58.33333%; }
      .row .col.pull-s7 {
        right: 58.33333%; }
      .row .col.push-s7 {
        left: 58.33333%; }
      .row .col.s8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%; }
      .row .col.offset-s8 {
        margin-left: 66.66667%; }
      .row .col.pull-s8 {
        right: 66.66667%; }
      .row .col.push-s8 {
        left: 66.66667%; }
      .row .col.s9 {
        flex: 0 0 75%;
        max-width: 75%; }
      .row .col.offset-s9 {
        margin-left: 75%; }
      .row .col.pull-s9 {
        right: 75%; }
      .row .col.push-s9 {
        left: 75%; }
      .row .col.s10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%; }
      .row .col.offset-s10 {
        margin-left: 83.33333%; }
      .row .col.pull-s10 {
        right: 83.33333%; }
      .row .col.push-s10 {
        left: 83.33333%; }
      .row .col.s11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%; }
      .row .col.offset-s11 {
        margin-left: 91.66667%; }
      .row .col.pull-s11 {
        right: 91.66667%; }
      .row .col.push-s11 {
        left: 91.66667%; }
      .row .col.s12 {
        flex: 0 0 100%;
        max-width: 100%; }
      .row .col.offset-s12 {
        margin-left: 100%; }
      .row .col.pull-s12 {
        right: 100%; }
      .row .col.push-s12 {
        left: 100%; } }
    @media (min-width: 48em) {
      .row .col.m1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%; }
      .row .col.offset-m1 {
        margin-left: 8.33333%; }
      .row .col.pull-m1 {
        right: 8.33333%; }
      .row .col.push-m1 {
        left: 8.33333%; }
      .row .col.m2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%; }
      .row .col.offset-m2 {
        margin-left: 16.66667%; }
      .row .col.pull-m2 {
        right: 16.66667%; }
      .row .col.push-m2 {
        left: 16.66667%; }
      .row .col.m3 {
        flex: 0 0 25%;
        max-width: 25%; }
      .row .col.offset-m3 {
        margin-left: 25%; }
      .row .col.pull-m3 {
        right: 25%; }
      .row .col.push-m3 {
        left: 25%; }
      .row .col.m4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%; }
      .row .col.offset-m4 {
        margin-left: 33.33333%; }
      .row .col.pull-m4 {
        right: 33.33333%; }
      .row .col.push-m4 {
        left: 33.33333%; }
      .row .col.m5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%; }
      .row .col.offset-m5 {
        margin-left: 41.66667%; }
      .row .col.pull-m5 {
        right: 41.66667%; }
      .row .col.push-m5 {
        left: 41.66667%; }
      .row .col.m6 {
        flex: 0 0 50%;
        max-width: 50%; }
      .row .col.offset-m6 {
        margin-left: 50%; }
      .row .col.pull-m6 {
        right: 50%; }
      .row .col.push-m6 {
        left: 50%; }
      .row .col.m7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%; }
      .row .col.offset-m7 {
        margin-left: 58.33333%; }
      .row .col.pull-m7 {
        right: 58.33333%; }
      .row .col.push-m7 {
        left: 58.33333%; }
      .row .col.m8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%; }
      .row .col.offset-m8 {
        margin-left: 66.66667%; }
      .row .col.pull-m8 {
        right: 66.66667%; }
      .row .col.push-m8 {
        left: 66.66667%; }
      .row .col.m9 {
        flex: 0 0 75%;
        max-width: 75%; }
      .row .col.offset-m9 {
        margin-left: 75%; }
      .row .col.pull-m9 {
        right: 75%; }
      .row .col.push-m9 {
        left: 75%; }
      .row .col.m10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%; }
      .row .col.offset-m10 {
        margin-left: 83.33333%; }
      .row .col.pull-m10 {
        right: 83.33333%; }
      .row .col.push-m10 {
        left: 83.33333%; }
      .row .col.m11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%; }
      .row .col.offset-m11 {
        margin-left: 91.66667%; }
      .row .col.pull-m11 {
        right: 91.66667%; }
      .row .col.push-m11 {
        left: 91.66667%; }
      .row .col.m12 {
        flex: 0 0 100%;
        max-width: 100%; }
      .row .col.offset-m12 {
        margin-left: 100%; }
      .row .col.pull-m12 {
        right: 100%; }
      .row .col.push-m12 {
        left: 100%; } }
    @media (min-width: 64em) {
      .row .col.l1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%; }
      .row .col.offset-l1 {
        margin-left: 8.33333%; }
      .row .col.pull-l1 {
        right: 8.33333%; }
      .row .col.push-l1 {
        left: 8.33333%; }
      .row .col.l2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%; }
      .row .col.offset-l2 {
        margin-left: 16.66667%; }
      .row .col.pull-l2 {
        right: 16.66667%; }
      .row .col.push-l2 {
        left: 16.66667%; }
      .row .col.l3 {
        flex: 0 0 25%;
        max-width: 25%; }
      .row .col.offset-l3 {
        margin-left: 25%; }
      .row .col.pull-l3 {
        right: 25%; }
      .row .col.push-l3 {
        left: 25%; }
      .row .col.l4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%; }
      .row .col.offset-l4 {
        margin-left: 33.33333%; }
      .row .col.pull-l4 {
        right: 33.33333%; }
      .row .col.push-l4 {
        left: 33.33333%; }
      .row .col.l5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%; }
      .row .col.offset-l5 {
        margin-left: 41.66667%; }
      .row .col.pull-l5 {
        right: 41.66667%; }
      .row .col.push-l5 {
        left: 41.66667%; }
      .row .col.l6 {
        flex: 0 0 50%;
        max-width: 50%; }
      .row .col.offset-l6 {
        margin-left: 50%; }
      .row .col.pull-l6 {
        right: 50%; }
      .row .col.push-l6 {
        left: 50%; }
      .row .col.l7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%; }
      .row .col.offset-l7 {
        margin-left: 58.33333%; }
      .row .col.pull-l7 {
        right: 58.33333%; }
      .row .col.push-l7 {
        left: 58.33333%; }
      .row .col.l8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%; }
      .row .col.offset-l8 {
        margin-left: 66.66667%; }
      .row .col.pull-l8 {
        right: 66.66667%; }
      .row .col.push-l8 {
        left: 66.66667%; }
      .row .col.l9 {
        flex: 0 0 75%;
        max-width: 75%; }
      .row .col.offset-l9 {
        margin-left: 75%; }
      .row .col.pull-l9 {
        right: 75%; }
      .row .col.push-l9 {
        left: 75%; }
      .row .col.l10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%; }
      .row .col.offset-l10 {
        margin-left: 83.33333%; }
      .row .col.pull-l10 {
        right: 83.33333%; }
      .row .col.push-l10 {
        left: 83.33333%; }
      .row .col.l11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%; }
      .row .col.offset-l11 {
        margin-left: 91.66667%; }
      .row .col.pull-l11 {
        right: 91.66667%; }
      .row .col.push-l11 {
        left: 91.66667%; }
      .row .col.l12 {
        flex: 0 0 100%;
        max-width: 100%; }
      .row .col.offset-l12 {
        margin-left: 100%; }
      .row .col.pull-l12 {
        right: 100%; }
      .row .col.push-l12 {
        left: 100%; } }
    @media (min-width: 89.375em) {
      .row .col.xl1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%; }
      .row .col.offset-xl1 {
        margin-left: 8.33333%; }
      .row .col.pull-xl1 {
        right: 8.33333%; }
      .row .col.push-xl1 {
        left: 8.33333%; }
      .row .col.xl2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%; }
      .row .col.offset-xl2 {
        margin-left: 16.66667%; }
      .row .col.pull-xl2 {
        right: 16.66667%; }
      .row .col.push-xl2 {
        left: 16.66667%; }
      .row .col.xl3 {
        flex: 0 0 25%;
        max-width: 25%; }
      .row .col.offset-xl3 {
        margin-left: 25%; }
      .row .col.pull-xl3 {
        right: 25%; }
      .row .col.push-xl3 {
        left: 25%; }
      .row .col.xl4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%; }
      .row .col.offset-xl4 {
        margin-left: 33.33333%; }
      .row .col.pull-xl4 {
        right: 33.33333%; }
      .row .col.push-xl4 {
        left: 33.33333%; }
      .row .col.xl5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%; }
      .row .col.offset-xl5 {
        margin-left: 41.66667%; }
      .row .col.pull-xl5 {
        right: 41.66667%; }
      .row .col.push-xl5 {
        left: 41.66667%; }
      .row .col.xl6 {
        flex: 0 0 50%;
        max-width: 50%; }
      .row .col.offset-xl6 {
        margin-left: 50%; }
      .row .col.pull-xl6 {
        right: 50%; }
      .row .col.push-xl6 {
        left: 50%; }
      .row .col.xl7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%; }
      .row .col.offset-xl7 {
        margin-left: 58.33333%; }
      .row .col.pull-xl7 {
        right: 58.33333%; }
      .row .col.push-xl7 {
        left: 58.33333%; }
      .row .col.xl8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%; }
      .row .col.offset-xl8 {
        margin-left: 66.66667%; }
      .row .col.pull-xl8 {
        right: 66.66667%; }
      .row .col.push-xl8 {
        left: 66.66667%; }
      .row .col.xl9 {
        flex: 0 0 75%;
        max-width: 75%; }
      .row .col.offset-xl9 {
        margin-left: 75%; }
      .row .col.pull-xl9 {
        right: 75%; }
      .row .col.push-xl9 {
        left: 75%; }
      .row .col.xl10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%; }
      .row .col.offset-xl10 {
        margin-left: 83.33333%; }
      .row .col.pull-xl10 {
        right: 83.33333%; }
      .row .col.push-xl10 {
        left: 83.33333%; }
      .row .col.xl11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%; }
      .row .col.offset-xl11 {
        margin-left: 91.66667%; }
      .row .col.pull-xl11 {
        right: 91.66667%; }
      .row .col.push-xl11 {
        left: 91.66667%; }
      .row .col.xl12 {
        flex: 0 0 100%;
        max-width: 100%; }
      .row .col.offset-xl12 {
        margin-left: 100%; }
      .row .col.pull-xl12 {
        right: 100%; }
      .row .col.push-xl12 {
        left: 100%; } }
  .row.align-center {
    align-items: center; }
  .row.align-start {
    align-items: flex-start; }
  .row.align-end {
    align-items: flex-end; }
  .row.justify-center {
    justify-content: center; }
  .row.justify-start {
    justify-content: flex-start; }
  .row.justify-end {
    justify-content: flex-end; }
  .row::after {
    content: '';
    clear: both;
    display: block; }

.col .row {
  margin-left: -1.5em;
  margin-right: -1.5em; }
