/**
 * Config: Fonts
 * -----------------------------------------------------------------------------
 * Imports and defined the fonts used.
 */

/**
 * Museo Sans
 */
@font-face {
  font-family: 'Museo Sans';
  font-weight: 300;
  src: url('../fonts/museosans-300-webfont.woff') format('woff'),
    url('../fonts/museosans-300-webfont.woff2') format('woff2');
}

@font-face {
  font-family: 'Museo Sans';
  font-weight: 500;
  src: url('../fonts/museosans-500-webfont.woff') format('woff'),
    url('../fonts/museosans-500-webfont.woff2') format('woff2');
}

@font-face {
  font-family: 'Museo Sans';
  font-weight: 700;
  src: url('../fonts/museosans-700-webfont.woff') format('woff'),
    url('../fonts/museosans-700-webfont.woff2') format('woff2');
}

@font-face {
  font-family: 'Museo Sans';
  font-weight: 900;
  src: url('../fonts/museosans-900-webfont.woff') format('woff'),
    url('../fonts/museosans-900-webfont.woff2') format('woff2');
}

@font-face {
  font-family: 'Panterick';
  src: url('../fonts/Panterick.woff') format('woff'),
    url('../fonts/Panterick.woff2') format('woff2');
}

@font-face {
  font-family: 'TungstenCondensed';
  font-weight: 700;
  src: url('../fonts/TungstenCondensed-Bold.woff') format('woff'),
    url('../fonts/TungstenCondensed-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'TungstenCondensed';
  font-weight: 500;
  src: url('../fonts/TungstenCondensed-Medium.woff') format('woff'),
    url('../fonts/TungstenCondensed-Medium.woff2') format('woff2');
}