/**
 * Section: Features
 * -----------------------------------------------------------------------------
 * Displays content with feature cards in a carousel.
 */
.features {
  background-color: $COLOR_BACKGROUND;
  padding: 4rem 0 12rem 0;
  position: relative;

  &__container {
    @include mq($from: 1441px) {
      position: relative;
    }
  }
  
  &__header {
    margin-bottom: $SPACING_2XL;
  }

  &__title {
    font-size: 45px;
    line-height: 1.2;
    margin-bottom: $SPACING_XL;
  }

  &__content {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: $SPACING_2XL;

    strong {
      font-weight: $WEIGHT_BLACK;
    }
  }

  &__carousel {
    max-width: 547px;
    overflow: hidden;
    padding: $SPACING_XL 0 $SPACING_XL $SPACING_M;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 60%;
    z-index: 12;

    .flickity-viewport {
      overflow: visible;
    }
  }

  &__card {
    border: 1px solid rgba($COLOR_BLACK, 0.02);
    box-shadow: 0 8px 29px 0 rgba($COLOR_BLACK, 0.08);
    margin: 0 $SPACING_M;
    width: calc(100% / 1.7);

    &.is-resized {
      bottom: 0;
      top: 0;
    }
  }

  &__card-thumbnail {
    background-position: center;
    background-size: cover;
    padding-top: 84%;
    width: 100%;
  }

  &__card-body {
    background-color: $COLOR_WHITE;
    padding: $SPACING_XL $SPACING_L $SPACING_L;
  }

  &__card-title {
    margin: 0 0 $SPACING_XS 0;
  }

  &__card-content {
    font-size: 16px;
    margin: 0;
  }

  &__card-link {
    color: $COLOR_PRIMARY;
    display: block;
    font-size: 12px;
    font-weight: $WEIGHT_BLACK;
    margin-top: $SPACING_S;
    text-decoration: none;
    text-transform: uppercase;
  }

  @include mq($until: large) {
    padding: 4rem 0 8rem 0;

    &__title {
      margin-top: 0;
    }

    &__content {
      text-align: center;
    }

    &__carousel {
      padding-left: 16%;
      position: static;
      margin-left: -#{$GUTTER_WIDTH / 2};
      max-width: unset;
      transform: none;
      width: calc(100% + #{$GUTTER_WIDTH});

      .flickity-page-dots {
        display: none;
      }
    }

    &__card {
      margin: 0 $SPACING_XS;
      opacity: 0.5;
      width: calc(100% / 1.2);

      &.is-selected {
        opacity: 1;
      }
    }

    &__card-body {
      padding: $SPACING_L;
    }

    &__card-title {
      margin: 0;
    }

    &__card-content {
      display: none;
    }

    .button {
      display: block;
      margin: $SPACING_3XL auto 0 auto;
      width: 60%;
    }
  }

  .page-template-solution & {
    padding-bottom: $SPACING_3XL * 2;
  }
}