/**
 * Section: Featured Reviews
 * -----------------------------------------------------------------------------
 * Feature review cards.
 */
.featured-reviews {
  background-color: $COLOR_WHITE;

  &__header-image {
    display: block;
    margin: 0 auto $SPACING_2XL auto;
  }

  &__title {
    font-size: 50px;
    margin-bottom: $SPACING_3XL * 2;
    margin-top: $SPACING_M;
    text-align: center;
  }

  &__item {
    background-color: $COLOR_ALABASTER;
    box-shadow: 0 5px 18px 0 rgba($COLOR_BLACK, 0.07);
    margin-bottom: $SPACING_3XL;
    padding: $SPACING_3XL $SPACING_3XL * 1.6 $SPACING_XL $SPACING_3XL * 1.6;
    text-align: center;
  }

  &__item-content {
    font-size: 20px;
    font-weight: $WEIGHT_LIGHT;
    line-height: 1.5;

    p {
      margin: $SPACING_M 0;
    }
  }

  &__item-name {
    font-size: 22px;
    font-weight: $WEIGHT_BOLD;
    line-height: 1.2;
    margin: $SPACING_2XS 0 $SPACING_L 0;
  }

  &__item-stars {
    @include list-reset;

    margin: $SPACING_M 0;
  }

  &__item-star {
    background-image: url("../images/icon-review-star--green.png");
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 21px;
    width: 22px;
  }

  @include mq($until: large) {
    padding-top: $SPACING_3XL * 2;

    &__title {
      font-size: 30px;
      margin-bottom: $SPACING_3XL;
    }

    &__item {
      background-color: $COLOR_WHITE;
      margin-bottom: $SPACING_3XL;
      padding: $SPACING_L $SPACING_L * 1.4 $SPACING_L $SPACING_L * 1.4;
    }

    &__item-name {
      font-size: 20px;
    }

    &__item-content {
      font-size: 18px;
    }
  }
}
