/**
 * Section: Feature Toggle
 * -----------------------------------------------------------------------------
 * Toggleable tabs.
 */
.feature-toggle {
  $PARENT: &;

  @include border-bottom("../images/feature-toggle-border-bottom.png");

  background-color: $COLOR_WHITE;
  padding: $SPACING_3XL * 2 0;

  &__title {
    font-size: 45px;
    margin: 0 0 $SPACING_XL 0;
  }

  &__control-group {
    margin-top: $SPACING_3XL * 1.2;
  }

  &__control {
    @include button-reset;

    border-top: 1px solid $COLOR_ALTO;
    cursor: pointer;
    display: block;
    font-family: $FONT_HEADING;
    font-size: 17px;
    font-weight: $WEIGHT_BOLD;
    line-height: 2.7;
    text-align: left;
    width: 100%;

    @media (max-width: 450px) {
      font-size: 12px !important;
    }

    &::before {
      background-image: url("../images/active-arrow.png");
      background-repeat: no-repeat;
      background-size: contain;
      content: "";
      display: none;
      height: 14px;
      margin-right: $SPACING_S;
      vertical-align: middle;
      width: 14px;

      @media (max-width: 450px) {
        width: 7px !important;
        height: 7px !important;
        position: relative;
        top: -2px;
      }
    }

    &.is-active {
      background-color: rgba($COLOR_CONCRETE, 0.5);
      border-top: 0;
      padding-left: $SPACING_M;

      &::before {
        display: inline-block;
      }
    }
  }

  &__control-group {
    padding-right: $SPACING_XL;

    .col {
      &:nth-child(1),
      &:nth-child(2) {
        #{$PARENT}__control {
          border-top: 0;
        }
      }
    }

    // .col.xs6 {
    //   @media (max-width: 450px) {
    //     &:nth-last-child(-n + 4) {
    //       width: 100%;
    //       padding: 0 1.5em;
    //       max-width: 100%;
    //       flex: 0 0 100%;
    //     }
    //   }
    // }
  }

  &__content-group {
    border-left: 1px solid $COLOR_ALTO;
  }

  &__content-block {
    padding: $SPACING_M 0 $SPACING_M $SPACING_3XL;
  }

  &__item-title {
    font-size: 38px;
    font-weight: $WEIGHT_BLACK;
    margin-bottom: $SPACING_M;
  }

  &__item-content {
    margin-top: $SPACING_L;
  }

  &::after {
    height: 8vw;
    bottom: 1px;
    transform: translateY(100%);
  }

  &__item-image {
    border: 3px solid rgb(218, 218, 218);
  }

  @include mq($from: large) {
    &__item-content {
      font-size: 20px;
      line-height: 1.2;
      margin-top: $SPACING_2XL;
    }
  }

  @include mq($until: large) {
    padding: $SPACING_3XL 0;

    &__control {
      border-bottom: 1px solid $COLOR_ALTO;
      border-top: 0;
      font-size: 16px;
      line-height: 1.5;
      padding: $SPACING_S 0;

      &::before {
        height: 16px;
        margin-right: $SPACING_2XS;
        width: 16px;
      }

      &.is-active {
        background-color: transparent;
        color: $COLOR_PRIMARY;
        padding-left: 0;
      }
    }

    &__control-group {
      margin: $SPACING_XL 0 $SPACING_M 0;
      padding: 0;

      .col {
        &:nth-of-type(odd) {
          padding-right: $SPACING_XS;
        }

        &:nth-of-type(even) {
          padding-left: $SPACING_XS;
        }

        &:last-of-type {
          #{$PARENT}__control {
            // border-bottom: 0;
          }
        }
      }
    }

    &__content-group {
      border-left: 0;
      padding-left: 0;
    }

    &__content-block {
      padding-left: 0;
      padding-top: 0;
    }

    &__item-title {
      font-size: 25px;
      margin-top: $SPACING_M;
    }

    &__title {
      font-size: 30px;
    }
  }
}
