/**
 * Section: Feature Grid
 * -----------------------------------------------------------------------------
 * Displays content with feature cards in a carousel.
 */
.feature-grid {
  $PARENT: &;

  padding: $SPACING_3XL * 2 0;
  position: relative;
  z-index: 1;

  .carousel .flickity-page-dots {
    margin-top: 0;
  }

  + .video-carousel {
    position: relative;
    padding-top: 18vw;

    .video-carousel__carousel {
      @media (min-width: 1024px) {
        padding-top: 5vw;
      }
    }

    @media (min-width: 1300px) {
      padding-top: 300px;
    }

    @media (min-width: 1500px) {
      padding-top: 350px;
    }

    &::before {
      content: "";
      background: #f6f6f6 url("../images/tearnew.png") no-repeat top / 100%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 14vw;
    }
  }

  &__content {
    font-size: 18px;
    line-height: 1.5;
    padding: $SPACING_XL $SPACING_3XL * 1.5;

    strong {
      font-size: 20px;
      font-weight: $WEIGHT_BLACK;
    }
  }

  &__items {
    margin: $SPACING_3XL calc(((100vw - 1300px) + 3rem) / -2);

    .flickity-slider {
      margin-left: calc(((100vw - 1300px) / 2) + 1.5rem);

      @media (max-width: 1280px) {
        margin-left: 1.5rem;
      }
    }

    .flickity-button {
      display: none;
    }
  }

  &__cell {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% / 1.2);

    @media (min-width: 1024px) {
      &:nth-child(2) {
        .feature-grid__column {
          width: 67% !important;
        }

        .feature-grid__card-container {
          width: 50% !important;
        }
      }
    }
  }

  &__column {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 30px;

    body &.is-firstcolumn {
      @media (min-width: 1024px) {
        width: 67% !important;
      }
    }

    &.hide-mobile {
      display: none;

      .feature-grid__card-container {
        height: 100%;
      }

      @media (min-width: 768px) {
        display: block;
      }
    }

    @media (max-width: 768px) {
      width: 80% !important;
    }

    &:first-of-type {
      @media (min-width: 768px) {
        width: 50% !important;
      }
    }

    &:first-of-type {
      margin-left: -#{$SPACING_M};
      width: 67%;

      #{$PARENT}__card-container {
        &:nth-child(1),
        &:nth-child(2) {
          width: 50%;

          #{$PARENT}__card-thumbnail {
            height: 290px;

            @include mq($until: medium) {
              height: 160px;
            }
          }
        }

        &:nth-child(3) {
          #{$PARENT}__card-thumbnail {
            height: 190px;

            @include mq($until: medium) {
              // height: 75px;
            }
          }
        }
      }
    }

    &:last-of-type:not(:first-of-type) {
      flex-grow: 1;
      padding-right: $SPACING_M;
      width: 33% !important;

      #{$PARENT}__card-thumbnail {
        flex: 1;
      }
    }
  }

  &__card-container {
    padding: $SPACING_M;
    width: 100%;

    &.hide-desktop {
      @media (min-width: 768px) {
        display: none;
      }
    }

    &.is-alt {
      @media (min-width: 768px) {
        width: 100% !important;
      }
    }
  }

  &__card {
    border: 1px solid rgba($COLOR_BLACK, 0.02);
    box-shadow: 0 8px 29px 0 rgba($COLOR_BLACK, 0.04);
    height: 100%;
  }

  &__card-link {
    display: flex;
    flex-direction: column;
    height: 100%;
    text-decoration: none;
  }

  &__card-thumbnail {
    background-position: center;
    background-size: cover;
    flex-grow: 1;
    width: 100%;
  }

  &__card-body {
    background-color: $COLOR_WHITE;
    padding: $SPACING_XL $SPACING_L $SPACING_L;

    @include mq($until: medium) {
      min-height: 64px;
    }
  }

  &__card-title {
    margin: 0 0 $SPACING_XS 0;
  }

  &::after {
    // background-color: $COLOR_WHITE;
    // bottom: 0;
    // content: '';
    // display: block;
    // height: 54vw;
    // position: absolute;
    // width: 100%;
    // z-index: -1;
  }

  @include mq($from: 1441px) {
    &__items {
      margin: 0 auto;
      max-width: 1440px;

      .flickity-slider {
        margin-left: 0;
      }
    }
  }

  @include mq($until: 1300px) {
    &__items {
      margin: 0 -#{$GUTTER_WIDTH / 2};
    }
  }

  @include mq($until: large) {
    padding-bottom: $SPACING_XL;

    &__items {
      margin-left: -1.5rem;

      .flickity-slider {
        margin-left: 1.5rem;
      }
    }

    &__content {
      padding: $SPACING_XL 0;
    }

    &__cell {
      width: calc(100% * 1.2);
    }

    &__card-container {
      padding: $SPACING_XS;
    }

    &__card-body {
      padding: $SPACING_S $SPACING_S $SPACING_XS $SPACING_S;
    }

    &__column {
      width: 50%;

      &:first-of-type {
        width: 50%;

        #{$PARENT}__card-container {
          &:nth-child(1),
          &:nth-child(2) {
            // width: 50%;
          }

          &:nth-child(2) {
            // display: none;
            // width: 100%;
          }
        }
      }

      #{$PARENT}__cell:nth-child(1) & {
        &:first-of-type {
          #{$PARENT}__card-container {
            &:nth-child(2) {
              // display: none;
            }
          }
        }
      }

      #{$PARENT}__cell:nth-child(2) & {
        #{$PARENT}__card-container {
          &:nth-child(2) {
            #{$PARENT}__card-thumbnail {
              // height: 190px;
            }
          }
        }
      }
    }

    &::after {
      height: 50vw;
    }
  }

  @include mq($until: medium) {
    &__column {
      #{$PARENT}__cell:nth-child(2) & {
        #{$PARENT}__card-container {
          &:nth-child(2) {
            #{$PARENT}__card-thumbnail {
              // height: 75px;
            }
          }
        }
      }
    }
  }
}
