/**
 * Section: Image with Text
 * -----------------------------------------------------------------------------
 * Repeating image with text sections.
 */
.image-with-text {
  $PARENT: &;

  background-color: $COLOR_WHITE;

  &__image-container {
    background-position: center;
    background-size: cover;
    flex: 0 0 50%;
    padding-top: 60%;
  }

  &__additional {
    background-color: $COLOR_WHITE;
    bottom: 0;
    font-size: 20px;
    font-weight: $WEIGHT_BLACK;
    line-height: 2.2;
    padding: $SPACING_3XL;
    position: absolute;
    right: $SPACING_3XL;
    transform: translateY(50%);
    width: 50%;
  }

  &__main {
    flex: 0 0 50%;
    padding-right: $SPACING_3XL;
  }

  &__title {
    font-size: 50px;
    margin: 0 0 $SPACING_3XL;
  }

  &__content {
    font-size: 18px;
    line-height: 1.5;
    max-width: 478px;
  }

  &__section {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    position: relative;
  }

  @include mq($from: large) {
    &__section {
      margin-bottom: 15rem;

      &:nth-of-type(even) {
        #{$PARENT}__image-container {
          flex: 0 0 85%;
          padding-top: 50%;
        }

        #{$PARENT}__main {
          background-color: $COLOR_WHITE;
          right: 0;
          padding: $SPACING_3XL;
          position: absolute;
          top: 75%;
          width: 60%;
        }

        #{$PARENT}__additional {
          display: none;
        }
      }
    }
  }

  @include mq($until: large) {
    &__additional {
      font-size: 13px;
      order: 3;
      padding: 0;
      position: static;
      transform: none;
      width: 95%;
    }

    &__main {
      background-color: $COLOR_WHITE;
      order: 2;
      padding-top: $SPACING_3XL;
      width: 95%;
      z-index: 1;
    }

    &__title {
      font-size: 30px;
      margin-bottom: $SPACING_L;
    }

    &__image-container {
      margin-bottom: $SPACING_XL;
      order: 1;
      transform: translateY(25%);
      width: 100%;
    }

    &__section {
      align-items: flex-start;
      flex-direction: column;

      &:nth-of-type(even) {
        align-items: flex-end;

        #{$PARENT}__main {
          padding-left: $SPACING_XL;
        }
      }
    }
  }
}
