/**
 * Section: Pricing Plans
 * -----------------------------------------------------------------------------
 * Displays pricing plans in columns.
 */
.pricing-plans {
  @include border-top('../images/feature-toggle-border-bottom.png');
  padding-top: $SPACING_3XL * 2.5;

  &__title {
    font-size: 42px;
    margin: $SPACING_3XL * 2 0 $SPACING_3XL * 1.5 0;
    text-align: center;
  }

  &__plans {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: $SPACING_3XL * 2;
  }

  &__plan {
    background-color: $COLOR_WHITE;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: $SPACING_3XL;
    text-align: center;
    width: 27%;
  }

  &__plan-title {
    font-size: 22px;
    font-weight: $WEIGHT_BOLD;
    margin: 0;
  }

  &__plan-subtitle {
    font-size: 17px;
    line-height: 1.2;
  }

  &__plan-monthly {
    border-bottom: 1px solid $COLOR_SILVER_CHALICE;
    font-size: 74px;
    font-weight: $WEIGHT_BOLD;
    line-height: 0.7;
    margin: $SPACING_L 0 0 0;
    overflow-wrap: break-word;
    padding: 0 0 $SPACING_XL 0;

    span {
      font-size: 47px;
      font-weight: $WEIGHT_MEDIUM;
    }
  }

  &__plan-yearly {
    font-size: 25px;
    font-weight: $WEIGHT_BOLD;
    line-height: 0.8;
    margin: $SPACING_XL 0 0 0;
  }

  &__plan-per {
    font-size: 15px;
    margin: $SPACING_XS auto 0 auto;
    max-width: 70%;
  }

  &__plan-cta {
    margin-top: $SPACING_XL;
  }

  @include mq($until: large) {
    padding-top: $SPACING_3XL;

    &__title {
      font-size: 30px;
    }

    &__plan {
      margin-bottom: $SPACING_S;
      width: 100%;
    }
  }
}