/**
 * Section: Reviews
 * -----------------------------------------------------------------------------
 * Displays review cards.
 */
.reviews {
  background-color: $COLOR_WHITE;

  &__item {
    background-color: $COLOR_WHITE;
    box-shadow: 0 8px 29px 0 rgba($COLOR_BLACK, 0.08);
    margin-bottom: $SPACING_3XL * 1.5;
    padding: $SPACING_3XL $SPACING_3XL * 1.6 $SPACING_XL $SPACING_3XL * 1.6;
    text-align: center;
  }

  &__item-content {
    font-size: 20px;
    font-weight: $WEIGHT_LIGHT;
    line-height: 1.2;
  }

  &__item-name {
    font-size: 20px;
    font-weight: $WEIGHT_BLACK;
    line-height: 1.2;
    margin: $SPACING_2XS 0;
  }

  &__item-position {
    font-size: 16px;
    font-weight: $WEIGHT_BOLD;
    line-height: 1.2;
    margin: $SPACING_2XS 0;
  }

  &__item-stars {
    @include list-reset;
    margin: $SPACING_M 0;
  }

  &__item-star {
    background-image: url('../images/icon-review-star.png');
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 21px;
    width: 22px;
  }

  &__item-cta {
    color: $COLOR_PRIMARY;
    font-size: 12px;
    font-weight: $WEIGHT_BLACK;
    text-decoration: none;
    text-transform: uppercase;
  }

  @include mq($until: medium) {
    padding: $SPACING_3XL * 1.5 0;

    &__item {
      margin-bottom: $SPACING_3XL;
      padding: $SPACING_L $SPACING_L * 1.4 $SPACING_L $SPACING_L * 1.4;
    }

    &__item-content {
      font-size: 18px;
    }

    &__item-name {
      font-size: 18px;
    }

    &__item-position {
      font-size: 16px;
    }
  }
}