/**
 * Section: Testimonials
 * -----------------------------------------------------------------------------
 * Displays a video and testimonial carousel.
 */
.testimonials {
  $PARENT: &;
  @include border-bottom('../images/intro-border-bottom.png');
  @include border-top('../images/testimonials-border-top.png');
  padding: 15vw 0;
  position: relative;

  &__body {
    background-color: $COLOR_WHITE;
    display: flex;
    flex-direction: column;
    padding: 4rem 0 8rem 0;
    position: relative;

    body.home & {
      @media (min-width: 1024px) {
        padding-bottom: 18rem;
      }

      @media (min-width: 1440px) {
        padding-bottom: 8rem;
      }
    }

    body.page-template-support & {
      @media (min-width: 1024px) {
        padding-bottom: 14rem;
      }

      @media (min-width: 1250px) {
        padding-bottom: 17rem;
      }
    }
  }

  &__container {
    @include mq($from: 1441px) {
      position: relative;
    }
  }

  &__title {
    font-size: 55px;
  }

  &__video {
    background-color: $COLOR_BACKGROUND;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1053px;
    padding-top: 40%;
    position: relative;
    width: 100%;

    body.page-template-support & {
      margin-left: auto;
    }
  }

  &__video-embed {
    left: 0;
    position: absolute;
    top: 0;
    opacity: 0;
    transition: 0.2s ease;
    visibility: hidden;

    &.is-active {
      opacity: 1;
      visibility: visible;
    }
  }

  &__video-play {
    @include button-reset;
    cursor: pointer;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: 0.2s ease;
    z-index: 12;

    .icon {
      height: 125px;
      width: 93px;
    }

    &.is-hidden {
      opacity: 0;
    }
  }

  &__carousel {
    max-width: 650px;
    overflow: hidden;
    padding: $SPACING_XL 0 $SPACING_XL $SPACING_M;
    position: absolute;
    right: 0;
    top: 70%;
    transform: translateY(-50%);
    width: 60%;
    z-index: 12;

    body.home & {
      @media (min-width: 1440px) {
        top: 84%;
      }
    }

    body.page-template-support & {
      @media (min-width: 1024px) {
        padding-top: 0;
        top: 670px;
      }

      @media (min-width: 1150px) {
        top: 700px;
      }

      @media (min-width: 1200px) {
        top: 720px;
      }

      @media (min-width: 1250px) {
        top: 750px;
      }
    }

    .flickity-viewport {
      overflow: visible;
    }
  }

  &__card {
    background-color: $COLOR_WHITE;
    border: 1px solid rgba($COLOR_BLACK, 0.02);
    box-shadow: 0 8px 29px 0 rgba($COLOR_BLACK, 0.08);
    margin: 0 $SPACING_M;
    padding: $SPACING_XL $SPACING_L $SPACING_L;
    text-align: center;
    width: calc(100% / 1.7);
  }

  &__card-stars {
    @include list-reset;
  }

  &__card-star {
    background-image: url('../images/icon-review-star.png');
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 21px;
    width: 22px;
  }

  &__card-author {
    font-weight: $WEIGHT_BLACK;
    margin-bottom: $SPACING_XS;
    margin-top: $SPACING_XL;
  }

  &__card-position {
    font-size: 15px;
    font-weight: $WEIGHT_BOLD;
    margin-top: -#{$SPACING_XS};
  }

  &__card-content {
    font-weight: $WEIGHT_LIGHT;
  }

  @include mq($until: wide) {
    &__title {
      font-size: 40px;
      padding-right: $SPACING_2XL * 4;
    }
  }

  @include mq($until: large) {
    &__title-container {
      order: 1;
    }

    &__title {
      font-size: 26px;
      padding-right: 0;
      text-align: center;
    }

    &__video-play {
      .icon {
        height: 62px;
        width: 46px;
      }
    }

    &__video {
      margin: $SPACING_S $SPACING_L $SPACING_XL $SPACING_L;
      order: 2;
      padding-top: 50%;
      width: auto;
    }

    &__carousel {
      max-width: 100%;
      order: 3;
      position: static;
      transform: none;
      width: 100%;

      .flickity-page-dots {
        display: none;
      }

      .flickity-slider {
        margin-left: 10%;
      }
    }

    &__body {
      padding: 4rem 0;
    }

    &__card {
      margin: 0 $SPACING_S;
      opacity: 0.5;
      width: calc(100% / 1.3);

      &.is-selected {
        opacity: 1;
      }
    }
  }

  @include mq($until: medium) {
    padding: 10vw 0 0;

    &__card-image {
      width: 60px;
    }

    &::after {
      display: none;
    }
  }

  .page-template-support & {
    @include border-top('../images/feature-toggle-border-bottom.png');
    background-color: $COLOR_BACKGROUND;
    padding-bottom: 5rem;

    + .image-with-text {
      padding-top: 3rem;
    }

    #{$PARENT}__video {
      z-index: 2;
    }

    #{$PARENT}__body {
      background-color: transparent;
      padding-top: 0;
    }

    #{$PARENT}__title {
      z-index: 3;
    }

    &::after {
      // background-color: $COLOR_WHITE;
      // background-image: none;
      background-image: url(../images/feature-toggle-border-bottom.png);
      background-position: top center;
      content: '';
      display: block;
      height: 48vw;
      width: 100%;
      z-index: -1;
      transform: rotate(180deg);
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
    }

    @include mq($from: large) {
      #{$PARENT}__body {
        align-items: flex-end;
      }

      #{$PARENT}__title-container {
        .col {
          left: 50%;
          position: relative;
        }
      }

      #{$PARENT}__carousel {
        left: 0;
        max-width: 475px;
        right: unset;

        .flickity-page-dots {
          padding-left: $SPACING_XL;
          padding-right: 0;
          text-align: left;
        }
      }

      #{$PARENT}__card {
        width: 100%;
      }
    }

    @include mq($until: large) {
      margin-bottom: -#{$SPACING_3XL * 2};
      padding-bottom: 0;
    }
  }

  .home & {
    padding-top: 0;

    &::before {
      height: 12vw;
      top: 2px;
      transform: translateY(-100%);
    }
  }
}
