/**
 * Section: Timeline
 * -----------------------------------------------------------------------------
 * Displays content in a timeline format.
 */
.timeline {
  background-color: $COLOR_WHITE;

  &__header {
    align-items: flex-end;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  &__title {
    font-size: 20px;

    &::before {
      background-color: $COLOR_PRIMARY;
      content: '';
      display: block;
      height: 4px;
      margin-bottom: $SPACING_L;
      max-width: 43px;
      width: 100%;
    }
  }

  &__download {
    cursor: pointer;
    font-size: 18px;
    text-decoration: none;
  }

  &__download-icon {
    margin-left: $SPACING_M;
  }

  &__items {
    display: flex;
    margin: $SPACING_3XL * 2 0 0;
    position: relative;

    &::before {
      background-color: $COLOR_PRIMARY;
      content: '';
      display: block;
      height: 1px;
      left: 50%;
      position: absolute;
      top: 0;
      transform: translateX(-50%);
      width: 75%;
    }
  }

  &__item {
    flex: 0 0 25%;
    font-size: 18px;
    line-height: 1.2;
    padding: $SPACING_3XL;
    position: relative;
    text-align: center;

    &::before {
      background-color: $COLOR_WHITE;
      border: 1px solid $COLOR_PRIMARY;
      border-radius: 50%;
      content: '';
      display: block;
      height: 40px;
      left: 50%;
      position: absolute;
      top: 0;
      transform: translate(-50%, -50%);
      width: 40px;
    }

    &::after {
      background-color: $COLOR_PRIMARY;
      border-radius: 50%;
      content: '';
      display: block;
      height: 15px;
      left: 50%;
      position: absolute;
      top: 0;
      transform: translate(-50%, -50%);
      width: 15px;
    }
  }

  @include mq($from: wide) {
    &__items {
      margin: $SPACING_3XL * 2 -#{$SPACING_3XL} 0 -#{$SPACING_3XL}
    }
  }

  @include mq($until: large) {
    &__items {
      flex-direction: column;
      margin: $SPACING_3XL 0 0;

      &::before {
        height: 75%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 1px;
      }
    }

    &__item {
      flex: 0 0 100%;
      padding: $SPACING_XL 0 $SPACING_XL calc(50% + 50px);
      text-align: left;

      &:nth-child(odd) {
        padding-left: 0;
        padding-right: calc(50% + 50px);
        text-align: right;
      }

      &::before,
      &::after {
        right: 0;
        top: 50%;
      }
    }
  }

  @include mq($until: medium) {
    &__header {
      align-items: flex-start;
      flex-direction: column;
    }
  }
}