/**
 * Section: Video
 * -----------------------------------------------------------------------------
 * Styles for the video banner section.
 */
.video {
  $parent: &;

  background-color: $COLOR_WHITE;
  padding: $SPACING_3XL 0 $SPACING_XL 0;

  &__video {
    background-color: #fff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 592px;
    margin: 0 auto;
    position: relative;
    width: 80%;

    @media (min-width: 768px) {
      // background-size: cover;
    }
  }

  &__video-embed {
    left: 0;
    position: absolute;
    top: 0;
    opacity: 0;
    transition: 0.2s ease;
    visibility: hidden;

    &.is-active {
      opacity: 1;
      visibility: visible;
    }
  }

  &__video-play {
    @include button-reset;

    cursor: pointer;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: 0.2s ease;
    z-index: 12;

    .icon {
      height: 125px;
      width: 93px;

      @media (max-width: 450px) {
        height: 63px;
        width: 47px;
      }
    }

    &.is-hidden {
      opacity: 0;
    }
  }

  @include mq($until: large) {
    &__video {
      height: 400px;
      width: 100%;
    }
  }

  @include mq($until: medium) {
    &__video {
      height: 300px;
    }

    &__video-embed {
      height: 200px;
      width: 100%;
    }
  }

  .page-template-solution & {
    padding-top: $SPACING_L;
  }
}
