/**
 * Templates: Contact
 * -----------------------------------------------------------------------------
 * Styles for the contact page template.
 */
.contact {
  $PARENT: &;
  @include border-top('../images/intro-border-middle.png');
  background-color: $COLOR_WHITE;

  &__stats {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: $SPACING_XL 0 $SPACING_3XL * 2.5 0;
  }

  &__stat {
    background-color: $COLOR_WHITE;
    border: 1px solid rgba($COLOR_BLACK, 0.02);
    box-shadow: 0 8px 29px 0 rgba($COLOR_BLACK, 0.08);
    flex: 0 0 22.5%;
    padding: $SPACING_2XL $SPACING_XL $SPACING_XL $SPACING_XL;
    text-align: center;
  }

  &__stat-value {
    color: $COLOR_GUARDSMAN_RED;
    font-size: 45px;
    font-weight: $WEIGHT_BLACK;
    margin: 0 0 $SPACING_S 0;
  }

  &__stat-label {
    color: $COLOR_MINE_SHAFT;
    font-size: 18px;
    font-weight: $WEIGHT_MEDIUM;
    margin: 0;
  }

  &__sections {
    margin-bottom: $SPACING_3XL * 2;
    padding-top: $SPACING_S;
    position: relative;

    &::before {
      background-color: $COLOR_PRIMARY;
      content: '';
      display: block;
      height: 5px;
      left: 0;
      max-width: 40px;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  &__section {
    margin-bottom: $SPACING_2XL;
    padding-right: $SPACING_3XL * 2;
  }

  &__section-title {
    font-size: 20px;
    font-weight: $WEIGHT_BLACK;
    margin: $SPACING_XL 0 $SPACING_M 0;
  }

  &__section-content {
    font-size: 16px;
    font-weight: $WEIGHT_MEDIUM;
    line-height: 1.4;

    strong {
      font-size: 18px;
      font-weight: $WEIGHT_BOLD;
    }

    p {
      margin: $SPACING_XS 0;
    }

    a {
      text-decoration: none;
    }
  }

  &__social {
    margin-right: $SPACING_M;
    text-decoration: none;

    .icon {
      height: 30px;
    }
  }

  &__map {
    iframe {
      height: 566px;
      width: 100%;
    }
  }

  &::before {
    height: 9vw;
    top: 0;
    transform: translateY(-100%);
  }

  @include mq($until: large) {
    padding-bottom: 15rem;

    &__stat {
      flex: 0 0 48%;
      margin-bottom: $SPACING_XL;
    }

    &__stats {
      padding-bottom: 5rem;
    }

    &__sections {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: $SPACING_XL;

      &:nth-child(2) {
        bottom: 0;
        position: absolute;
        width: 100%;

        #{$PARENT}__section {
          flex: 0 0 100%;
        }
      }
    }

    &__section {
      flex: 0 0 50%;
      padding-right: $SPACING_S;
    }

    &__map {
      iframe {
        height: 350px;
      }
    }
  }

  @include mq($until: medium) {
    &__stat-value {
      font-size: 28px;
    }

    &__stat-label {
      font-size: 16px;
    }

    &__map {
      iframe {
        height: 250px;
      }
    }
  }

  @include mq($until: small) {
    &__stat {
      padding: $SPACING_XL $SPACING_M $SPACING_L $SPACING_M;
    }

    &__stat-value {
      font-size: 22px;
    }
  }

  @include mq($until: tiny) {
    &__section {
      flex: 0 0 100%;
    }
  }
}