/**
 * Component: Carousel
 * ------------------------------------------------------------------------------
 * Styles for the carousel component.
 *
 */
.carousel {
  .flickity-page-dots {
    margin: $SPACING_XL 0 0;
    padding-right: $SPACING_2XL;
    position: static;
    text-align: right;

    .dot {
      background-color: $COLOR_ALTO;
      border-radius: 0;
      height: 5px;
      width: 43px;

      &.is-selected {
        background-color: $COLOR_PRIMARY;
      }

      &:only-child {
        display: none;
      }
    }
  }
}