/**
 * Component: Highlighted
 * ------------------------------------------------------------------------------
 * Global styling for the highlighted posts component.
 *
 */
.highlighted {
  background-color: $COLOR_WHITE;
  box-shadow: 0 8px 29px 0 rgba($COLOR_BLACK, 0.08);
  padding: $SPACING_L $SPACING_L $SPACING_3XS $SPACING_L;
  position: relative;

  &__title {
    font-size: 18px;
    font-weight: $WEIGHT_BOLD;
    line-height: 1.6;
    margin: 0 0 $SPACING_L;
  }

  &__items {
    .flickity-button[disabled] {
      display: none;
    }

    .flickity-viewport {
      transition: height 0.4s;
    }

    .flickity-page-dots {
      position: static;

      .dot {
        height: 6px;
        margin: $SPACING_L 3px $SPACING_XL 3px;
        width: 6px;

        &:only-child {
          display: none;
        }
      }
    }
  }

  .icon__highlighted {
    position: absolute;
    right: $SPACING_L;
    top: 0;
  }

  .card {
    border-bottom: 1px solid $COLOR_SILVER_CHALICE;
    padding-bottom: $SPACING_XL;

    &:last-of-type {
      border-bottom: 0;
      padding-bottom: 0;
    }
  }

  @include mq($until: large) {
    .card {
      border: 0;
      margin: 0 $SPACING_M 0 0;
      width: 100%;
    }
  }
}