/**
 * Section: Feature Table
 * -----------------------------------------------------------------------------
 * Displays pricing plans and features in a table.
 */
.feature-table {
  background-color: $COLOR_WHITE;
  padding: $SPACING_3XL * 2 10%;

  &__title {
    border-bottom: 1px solid $COLOR_ALTO;
    color: $COLOR_PRIMARY;
    font-size: 25px;
    font-weight: $WEIGHT_BOLD;
    margin-bottom: $SPACING_3XL;
    padding-bottom: $SPACING_XL;
    position: relative;
    text-align: center;
    width: 100%;

    &::after {
      background-color: $COLOR_PRIMARY;
      bottom: -1px;
      content: '';
      display: block;
      height: 3px;
      left: 50%;
      max-width: 60px;
      position: absolute;
      transform: translateX(-50%);
      width: 100%;
    }
  }

  &__table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;

    tr {
      td:not(:first-of-type) {
        text-align: center;
      }
    }

    td,
    th {
      border-bottom: 1px solid rgba($COLOR_SILVER_CHALICE, 0.2);
      font-size: 18px;
      font-weight: $WEIGHT_BOLD;
      padding: $SPACING_S 0;

      .icon__tick {
        height: 24px;
        width: 24px;
      }

      &:first-of-type {
        width: 50%;
      }

      &:last-of-type {
        width: 5%;
      }
    }
  }

  &__sub-row {
    td {
      font-size: 16px;
      font-weight: $WEIGHT_LIGHT;
    }

    &:not(.is-active) {
      display: none;
    }
  }

  &__row-toggle {
    @include button-reset;
    cursor: pointer;

    .icon__chevron {
      height: 20px;
      width: 20px;
    }

    &.is-active {
      transform: rotate(90deg);
    }
  }

  &__circle {
    background-color: $COLOR_SALEM;
    border: 1px solid $COLOR_SALEM;
    border-radius: 50%;
    display: inline-block;
    height: 14px;
    position: relative;
    width: 14px;

    &--half {
      &::before {
        background-color: $COLOR_WHITE;
        border-bottom-left-radius: 7px;
        border-top-left-radius: 7px;
        content: '';
        display: block;
        height: 12px;
        left: 0;
        position: absolute;
        top: 0;
        width: 6.5px;
      }
    }
  }

  &__footer {
    border-top: 1px solid $COLOR_ALTO;
    margin-top: $SPACING_3XL * 1.5;
    padding-top: $SPACING_L;
    position: relative;
    text-align: center;

    &::after {
      background-color: $COLOR_PRIMARY;
      content: '';
      display: block;
      height: 3px;
      left: 50%;
      max-width: 60px;
      position: absolute;
      top: 0;
      transform: translate(-50%, -100%);
      width: 100%;
    }
  }

  &__footer-title {
    font-size: 25px;
    font-weight: $WEIGHT_MEDIUM;
    margin: $SPACING_S 0;
  }

  &__footer-subtitle {
    color: $COLOR_PRIMARY;
    font-size: 22px;
    font-weight: $WEIGHT_BOLD;
    margin: $SPACING_S 0;
  }

  @include mq($until: large) {
    &__title {
      font-size: 18px;
      margin-top: $SPACING_3XL * 1.5;
    }

    &__table {
      td,
      th {
        &:first-of-type {
          width: 45%;
        }
      }

      td {
        font-size: 15px;
      }

      th {
        font-size: 12px;
        vertical-align: bottom;

        span {
          writing-mode: vertical-rl;
          text-orientation: mixed;
        }
      }
    }

    &__footer,
    &__title {
      margin-left: -#{$GUTTER_WIDTH / 2};
      margin-right: -#{$GUTTER_WIDTH / 2};
      padding-left: #{$GUTTER_WIDTH / 2};
      padding-right: #{$GUTTER_WIDTH / 2};
      width: auto;
    }

    &__footer-title {
      font-size: 18px;
    }

    &__footer-subtitle {
      font-size: 16px;
    }
  }

  @include mq($until: medium) {
    padding: 0;
  }
}