/**
 * Section: Hero
 * -----------------------------------------------------------------------------
 * A hero banner with image and text.
 */
.hero {
  @include border-bottom('../images/intro-border-middle.png');
  background-position: center;
  background-size: cover;
  padding: $SPACING_3XL * 3 0 $SPACING_3XL * 5 0;

  &__content {
    max-width: 769px;
    margin-left: $SPACING_L;
  }

  &__title {
    color: $COLOR_WHITE;
    font-family: $FONT_CALLOUT;
    font-size: 156px;
    font-weight: $WEIGHT_MEDIUM;
    line-height: 0.8;
    margin: $SPACING_L 0 0;
    text-transform: uppercase;

    strong {
      font-weight: $WEIGHT_BOLD;
    }
  }

  @include mq($until: medium) {
    padding: $SPACING_3XL * 3 0 $SPACING_3XL * 3 0;

    &__title {
      font-size: 100px;
    }

    &__content {
      margin: 0;
    }
  }
}