/**
 * Section: Introduction
 * -----------------------------------------------------------------------------
 * Displays intro title, text and images.
 */
.introduction {
  $PARENT: &;
  @include grazed-background;
  position: relative;

  &__header {
    @include border-top('../images/intro-border-top.png');
    padding: 8rem 0 9rem 0;
    position: relative;
    width: 100%;
    z-index: unset;

    &::after {
      background-image: url('../images/icon-anchor-hollow.png');
      background-repeat: no-repeat;
      background-size: 70%;
      content: '';
      display: block;
      height: 318px;
      left: unset;
      position: absolute;
      right: 5%;
      top: 35%;
      width: 318px;
      z-index: 12;

      @media (min-width: 1700px) {
        right: calc((100vw - 1300px) / 2 - 200px);
      }
    }

    body.home & {
      &::after {
        @media (min-width: 1700px) {
          right: calc((100vw - 1300px) / 2 - 92px);
        }
      }
    }
  }

  &__header-image {
    padding: 0 $SPACING_3XL 0 0;
  }

  &__title {
    align-items: flex-end;
    display: flex;
    flex-wrap: wrap;
    padding-right: 45%;
    width: 100%;
  }

  &__title-part {
    width: 35%;

    &:first-of-type {
      display: flex;
      flex-direction: column;
      text-align: right;
      width: 56.5%;

      #{$PARENT}__heading {
        font-size: 120px;
        line-height: 0.8;
        padding-left: 0;

        &:first-of-type {
          font-size: 180px;
        }
      }
    }
  }

  &__heading {
    color: $COLOR_WHITE;
    font-family: $FONT_CALLOUT;
    font-size: 290px;
    font-weight: $WEIGHT_BOLD;
    line-height: 0.69;
    padding-left: $SPACING_S;
    text-align: right;
    text-transform: uppercase;
  }

  &__body {
    @include border-bottom('../images/intro-border-bottom.png');
    @include border-top('../images/intro-border-middle.png');
    background-color: $COLOR_WHITE;
    padding: $SPACING_3XL 0 $SPACING_3XL * 2 0;

    &::before {
      height: 8vw;
      top: 1px;
      transform: translateY(-100%);
    }

    &::after {
      background-color: $COLOR_BACKGROUND;
      height: 14vw;
    }
  }

  &__images {
    height: 120%;
    position: absolute;
    right: 5%;
    top: -80%;
    width: 50%;

    @include mq($from: 1441px) {
      left: 45%;
      right: unset;
      max-width: 750px;
    }
  }

  &__image {
    background-image: url('../svgs/placeholder.svg');
    background-size: cover;
    box-shadow: 0 8px 29px 0 rgba($COLOR_BLACK, 0.08);
    position: absolute;

    &--1 {
      height: 434px;
      right: 5%;
      top: 0;
      width: 414px;
    }

    &--2 {
      height: 227px;
      right: 50%;
      top: 80%;
      width: 295px;
    }

    &--3 {
      height: 270px;
      right: 10%;
      top: 95%;
      width: 215px;
    }
  }

  @include mq($from: large, $until: wide) {
    &__header-image {
      max-width: 50%;
    }
  }

  @include mq($until: large) {
    &__image {
      display: none;
    }

    &__body {
      padding-bottom: 6rem;
    }

    &__header {
      padding: 6rem 0 4rem 0;
    }

    &__content {
      padding: 0 $SPACING_M;
      text-align: center;
    }

    &__images {
      top: -60%;
    }

    &__title {
      flex-direction: column;
      padding-right: 0;

      &::after {
        background-repeat: space;
        background-size: 100%;
        height: 350px;
        right: 10%;
        top: 15%;
        width: 159px;
      }
    }

    &__heading {
      font-size: 294px;
      line-height: 0.9;
      padding-left: 0;
      padding-top: $SPACING_L;
    }

    &__title-part {
      width: 100%;

      &:first-of-type {
        flex-direction: column;
        width: 100%;

        #{$PARENT}__heading {
          font-size: 90px;
          line-height: 0.6;
          text-align: left;

          &:first-of-type {
            font-size: 165px;
          }
        }
      }
    }
  }

  .page-template-solution &,
  .page-template-pricing &,
  .page-template-uniquely &,
  .page-template-support & {
    #{$PARENT}__header {
      &::after {
        background-image: url('../images/anchor-short-hollow.png');
        background-repeat: no-repeat;
        top: 48%;
      }
    }

    #{$PARENT}__content {
      strong {
        font-size: 20px;
        font-weight: $WEIGHT_BLACK;
      }

      &::before {
        background-color: $COLOR_PRIMARY;
        content: '';
        display: block;
        height: 4px;
        margin-bottom: $SPACING_L;
        width: 43px;
      }
    }

    #{$PARENT}__body {
      &::after {
        display: none;
      }
    }

    @include mq($until: large) {
      #{$PARENT}__header {
        &::after {
          background-image: url('../images/anchor-short-hollow--red.png');
          background-position: center;
          background-size: contain;
          left: $SPACING_L;
          top: 70vw;
          width: 40%;
        }
      }

      #{$PARENT}__content {
        padding: 0;
        text-align: left;
      }

      #{$PARENT}__header-image {
        padding: 0 $SPACING_L;
      }

      #{$PARENT}__body {
        padding: 60vw 0 $SPACING_3XL 0;
      }

      #{$PARENT}__image--1 {
        display: block;
        height: auto;
        padding-top: 93%;
        right: 0;
        top: 50%;
        width: 50vw;
      }
    }
  }

  .page-template-uniquely & {
    #{$PARENT}__header {
      &::after {
        transform: scale(-1);
        top: 40%;
      }
    }

    #{$PARENT}__image--2 {
      top: 85%;
    }

    #{$PARENT}__body {
      &::after {
        display: block;
      }
    }

    @include mq($from: large) {
      #{$PARENT}__header {
        &::after {
          background-position: bottom;
        }
      }

      #{$PARENT}__image--1 {
        height: 359px;
        top: 20%;
        width: 462px;
      }
    }

    @include mq($until: small) {
      #{$PARENT}__header {
        &::after {
          top: 72%;
        }
      }
    }

    @include mq($from: small, $until: large) {
      #{$PARENT}__header {
        &::after {
          top: 100%;
        }
      }
    }
  }

  .page-template-solution & {
    #{$PARENT}__image--2 {
      right: 30%;
      top: 105%;
    }

    #{$PARENT}__image--3 {
      right: -5%;
      top: 75%;
    }

    @include mq($from: large) {
      #{$PARENT}__image--1 {
        height: 368px;
        width: 368px;
      }

      #{$PARENT}__images {
        top: -95%;
      }

      #{$PARENT}__header {
        &::after {
          top: 30%;
        }
      }
    }

    @include mq($until: large) {
      #{$PARENT}__body {
        padding-bottom: 0;
      }
    }
  }

  .page-template-support &,
  .page-template-pricing & {
    @include mq($from: large) {
      #{$PARENT}__image--1 {
        height: 326px;
        top: 10%;
        width: 447px;
      }

      #{$PARENT}__image--2 {
        height: 292px;
        right: 55%;
        top: 60%;
        width: 231px;
      }

      #{$PARENT}__image--3 {
        height: 226px;
        right: 5%;
        width: 294px;
      }
    }
  }

  .page-template-pricing & {
    @include mq($until: large) {
      #{$PARENT}__image--1 {
        width: calc(50vw + 1.15rem);
        margin-right: -1.15rem;
      }
    }
  }

  .page-template-uniquely & {
    #{$PARENT}__body {
      padding-bottom: $SPACING_3XL * 5;
    }

    @include mq($until: large) {
      #{$PARENT}__body {
        padding-bottom: 5rem;
      }
    }
  }

  .page-template-contact & {
    #{$PARENT}__header {
      padding-top: 10rem;

      &::after {
        display: none;
      }
    }

    @include mq($from: wide) {
      #{$PARENT}__header {
        padding: 13rem 0;
      }
    }
  }

  .home & {
    #{$PARENT}__body {
      padding-bottom: $SPACING_3XL * 5;
    }

    #{$PARENT}__images {
      height: 90%;
      top: -60%;
    }

    #{$PARENT}__header {
      &::after {
        background-size: 55%;
        background-position: top right;
        top: 30%;
      }
    }

    @include mq($until: large) {
      #{$PARENT}__header {
        &::after {
          background-repeat: space;
          background-size: 70%;
          background-position: top right;
          height: 57%;
          top: 23%;
          width: 38%;
        }
      }

      #{$PARENT}__heading {
        font-size: 190px;
      }

      #{$PARENT}__title-part {
        &:first-of-type {
          #{$PARENT}__heading {
            font-size: 50px;
            padding-top: $SPACING_M;

            &:first-of-type {
              font-size: 83px;
            }
          }
        }
      }

      #{$PARENT}__body {
        padding-bottom: 5rem;
      }
    }

    @include mq($until: wide) {
      #{$PARENT}__image--1 {
        max-width: 50%;
      }
    }
  }
}
