.print-thumbnail {
  display: none;
}

@media print {
  .site-header,
  .post__download,
  .newsletter-callout,
  .site-footer,
  .post__thumbnail,
  .post__sidebar {
    display: none !important;
  }

  body {
    padding-top: 0 !important;
  }

  .post__content {
    margin-top: 0 !important;
  }

  .site-main {
    padding-bottom: 0 !important;
  }

  .print-thumbnail {
    display: block;
    width: 100%;
    height: auto;
  }

  @page { margin: 2cm }

  a {
    page-break-inside:avoid
  }
  blockquote {
    page-break-inside: avoid;
  }
  h1, h2, h3, h4, h5, h6 {
    page-break-after:avoid;
    page-break-inside:avoid;
  }
  img {
    page-break-inside:avoid;
    page-break-after:avoid;
  }
  table, pre { page-break-inside:avoid }
  ul, ol, dl  { page-break-before:avoid }
}
