/**
 * Section: Rich Content
 * -----------------------------------------------------------------------------
 * Displays repeated sections with image and content.
 */
.rich-content {
  $PARENT: &;

  background-color: $COLOR_WHITE;
  display: flex;
  flex-direction: column;
  width: 100%;

  &__title {
    margin: 0;
    padding: $SPACING_XL 0;
    position: relative;
    width: 100%;
    z-index: 1;

    span {
      display: block;
      font-family: $FONT_CALLOUT;
      font-size: 68px;
      font-weight: $WEIGHT_MEDIUM;
      line-height: 0.8;
      text-transform: uppercase;

      &:first-of-type {
        color: $COLOR_PRIMARY;
        font-weight: $WEIGHT_BOLD;
      }
    }
  }

  &__content {
    background-color: $COLOR_WHITE;
    font-size: 20px;
    font-weight: $WEIGHT_LIGHT;
    line-height: 1.5;
    padding: 1vw $SPACING_3XL * 2 $SPACING_3XL $SPACING_3XL * 2;
    position: absolute;
    right: 0;
    top: 24%;
    width: 50%;
  }

  &__questions {
    background-color: $COLOR_WHITE;
    padding: $SPACING_XL $SPACING_3XL * 2 $SPACING_3XL $SPACING_3XL * 2;
    position: absolute;
    right: 0;
    top: 60%;
    width: 65%;
  }

  &__questions-content {
    color: $COLOR_PRIMARY;
    font-size: 20px;
    font-weight: $WEIGHT_MEDIUM;
    line-height: 1.2;
    margin-bottom: 0;
    margin-top: 0;
    min-width: 50%;
    padding-right: 50%;
  }

  &__questions-title {
    border-bottom: 2px solid $COLOR_PRIMARY;
    font-size: 25px;
    font-weight: $WEIGHT_BOLD;
    margin: 0 0 $SPACING_L 0;
    padding: $SPACING_M 0;
    width: 80%;
  }

  &__image {
    background-position: center;
    background-size: cover;
    min-height: 400px;
    width: 50%;
  }

  &__section {
    background-color: $COLOR_WHITE;
    display: inline-block;
    margin: $SPACING_3XL * 4 auto;
    max-width: 1440px;
    position: relative;
    width: 100%;
    z-index: 1;

    &:first-of-type {
      margin-bottom: 10rem;
      margin-top: 0;
    }

    &:nth-child(4) {
      &::before {
        display: none;
      }
    }

    &:nth-child(2) {
      &::before {
        background-image: url("../images/rich-content-double-arrow.png");
        bottom: -5%;
        height: 60%;
      }
    }

    &:nth-child(3) {
      &:before {
        bottom: -12%;
        left: unset;
        right: 3rem;
      }
    }

    &::before {
      background-image: url("../images/rich-content-arrow.png");
      background-size: contain;
      background-repeat: no-repeat;
      bottom: -40%;
      content: "";
      display: block;
      height: 60%;
      left: $SPACING_3XL;
      max-width: 250px;
      position: absolute;
      width: 15vw;
      z-index: 2;
    }

    @include mq($from: large) {
      &:first-of-type {
        margin-bottom: 20rem;

        .rich-content__questions {
          top: 80%;
        }
      }

      &:nth-child(2) {
        margin-bottom: -2rem;
        margin-top: 0;

        #{$PARENT}__image {
          width: 100%;
        }

        #{$PARENT}__content {
          left: 0;
          right: unset;
          top: 18%;
        }

        #{$PARENT}__questions {
          float: right;
          padding-left: 40%;
          position: relative;
          transform: translateY(-18%);
          width: 90%;
        }

        #{$PARENT}__questions-title {
          margin-bottom: $SPACING_2XL;
          position: relative;
          transform: none;
          width: 100%;
        }

        #{$PARENT}__questions-content {
          padding-right: 0;
        }
      }

      &:nth-child(3) {
        margin-bottom: 15rem;
        margin-top: $SPACING_3XL * 1.5;

        #{$PARENT}__title {
          padding-left: 50%;
        }

        #{$PARENT}__image {
          transform: translateY(-45%);
          width: 45%;
        }

        #{$PARENT}__content {
          padding-left: 0;
        }

        #{$PARENT}__questions {
          top: 70%;
          width: 80%;
        }

        #{$PARENT}__questions-title {
          left: -6rem;
          margin-bottom: $SPACING_2XL;
          padding-left: 6rem;
          position: relative;
          transform: none;
          width: 70%;
        }

        &::before {
          bottom: -18%;
        }
      }

      &:nth-child(4) {
        margin-bottom: 10rem;
        margin-top: 0;

        #{$PARENT}__content {
          height: 50%;
          left: 0;
          right: unset;
          top: 27%;
          width: 65%;
        }

        #{$PARENT}__image {
          float: right;
          width: 55%;
        }

        #{$PARENT}__questions {
          left: 0;
          padding-left: 25%;
          right: unset;
          top: 60%;
        }

        #{$PARENT}__questions-content {
          padding-right: 0;
        }

        #{$PARENT}__questions-title {
          margin-bottom: $SPACING_2XL;
          position: relative;
          transform: none;
        }
      }
    }

    @media (min-width: 1280px) {
      &:first-of-type {
        margin-bottom: 14rem;

        .rich-content__questions {
          top: 70%;
        }
      }
    }

    @include mq($until: large) {
      margin: $SPACING_L 0;

      #{$PARENT}__title {
        span {
          &:first-of-type {
            font-size: 60px;
          }
        }
      }

      #{$PARENT}__content {
        font-size: 18px;
        float: right;
        padding: $SPACING_3XL $SPACING_2XL 0 $SPACING_2XL;
        position: relative;
        transform: translateY(-20%);
        width: 90%;
      }

      #{$PARENT}__questions {
        float: right;
        padding: $SPACING_M $SPACING_XL $SPACING_L 5rem;
        position: relative;
        width: 100%;
      }

      #{$PARENT}__questions-title {
        font-size: 22px;
        margin-bottom: $SPACING_2XL;
        position: relative;
        transform: none;
      }

      #{$PARENT}__questions-content {
        font-size: 18px;
        padding-right: 0;
      }

      #{$PARENT}__image {
        min-height: 400px;
        width: 100%;
      }

      &:nth-of-type(even) {
        #{$PARENT}__content {
          float: left;
        }

        #{$PARENT}__questions {
          padding-left: 2.5rem;
        }
      }

      &:nth-child(1) {
        margin-bottom: 0;
      }

      &::before {
        display: none;
      }
    }
  }
}
