/**
 * Section: Video Carousel
 * -----------------------------------------------------------------------------
 * Displays content with video cards in a carousel.
 */
.video-carousel {
  background-color: $COLOR_WHITE;
  padding: $SPACING_3XL * 3 0;
  position: relative;

  &__title {
    font-size: 45px;
    line-height: 1.2;
    margin-bottom: $SPACING_XL;
  }

  &__content {
    line-height: 1.5;
    margin-bottom: $SPACING_2XL;

    strong {
      font-weight: $WEIGHT_BLACK;
    }
  }

  &__carousel {
    max-width: 900px;
    overflow: hidden;
    padding: $SPACING_XL 0 $SPACING_XL $SPACING_M;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 60%;
    z-index: 12;

    .flickity-viewport {
      overflow: visible;
    }
  }

  &__card {
    border: 1px solid rgba($COLOR_BLACK, 0.02);
    box-shadow: 0 8px 29px 0 rgba($COLOR_BLACK, 0.08);
    margin: 0 $SPACING_M;
    width: calc(100% / 1.2);
  }

  &__card-player {
    height: 30vw;
    max-height: 400px;
    width: 100%;
  }

  &__card-body {
    background-color: $COLOR_WHITE;
    padding: $SPACING_L;
  }

  &__card-title {
    margin: 0;
  }

  @include mq($from: 1441px) {
    &__carousel {
      right: $SPACING_L;
    }

    .container {
      position: relative;
    }
  }

  @include mq($until: large) {
    padding: 2rem 0 4rem 0;

    &__title {
      font-size: 30px;
      text-align: center;
    }

    &__content {
      text-align: center;
    }

    &__carousel {
      padding-left: 8%;
      position: static;
      margin-left: -#{$GUTTER_WIDTH / 2};
      max-width: unset;
      transform: none;
      width: calc(100% + #{$GUTTER_WIDTH});
    }

    &__card {
      margin: 0 $SPACING_XS;
      width: calc(100% / 1.2);
    }

    &__card-body {
      padding: $SPACING_L;
    }

    &__card-player {
      height: 50vw;
    }

    &__card-title {
      margin: 0;
    }
  }
}
