/**
 * Component: Site Footer
 * ------------------------------------------------------------------------------
 * Styles for the global site footer.
 *
 */
.site-footer {
  background-color: $COLOR_WHITE;
  padding: $SPACING_L 0 $SPACING_XL 0;

  &__main {
    border-bottom: 1px solid $COLOR_SILVER_CHALICE;
    padding-bottom: $SPACING_L;
  }

  &__logo {
    float: left;
    margin-right: $SPACING_2XL;
    max-width: 100px;
  }

  &__nav-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  &__nav {
    padding-right: $SPACING_XL;

    .menu {
      @include list-reset;
    }

    .menu-item { 
      color: $COLOR_MINE_SHAFT;
      font-size: 15px;
      line-height: 1.6;
      
      a {
        text-decoration: none;
      }
    }
  }

  &__phone {
    color: $COLOR_GUARDSMAN_RED;
    display: block;
    font-size: 35px;
    font-weight: $WEIGHT_BLACK;
    margin: 0;
    text-align: right;
    text-decoration: none;
  }

  &__phone-label {
    font-size: 20px;
    margin: 0;
    text-align: right;
  }

  &__additional {
    padding-top: $SPACING_M;
  }

  &__social {
    color: $COLOR_SILVER_CHALICE;
    margin-right: $SPACING_M;
    text-decoration: none;

    .icon {
      width: 22px;
    }
  }

  &__copy {
    color: $COLOR_MINE_SHAFT;
    font-size: 15px;
    font-weight: $WEIGHT_BLACK;
    line-height: 1.2;
    text-align: right;

    a {
      text-decoration: none;
    }
  }

  @include mq($until: large) {
    padding-top: $SPACING_3XL;

    &__phone {
      text-align: left;
    }

    &__phone-label {
      margin-top: $SPACING_XL;
      text-align: left;
    }

    &__logo {
      float: none;
      margin-bottom: $SPACING_XL;
    } 

    &__nav-wrapper {
      border-bottom: 1px solid $COLOR_SILVER_CHALICE;
      padding-bottom: $SPACING_XL;
    }

    &__additional {
      .row {
        flex-direction: row-reverse;
      }
    }

    &__socials {
      text-align: right;
    }

    &__copy {
      text-align: left;
    }
  }

  @include mq($until: small) {
    &__nav {
      flex: 0 0 50%;
      margin-bottom: $SPACING_XL;
    }

    &__copy {
      margin-top: $SPACING_M;
    }

    &__socials {
      text-align: left;
    }
  }
}