/**
 * Component: Site Header
 * ------------------------------------------------------------------------------
 * Styles for the global site header.
 *
 */
.site-header {
  $PARENT: &;
  background-color: $COLOR_WHITE;
  color: $COLOR_BLACK;
  transition: box-shadow 0.4s ease;
  width: 100%;
  z-index: 24;

  &__main {
    align-items: center;
    display: flex;
  }

  &__toggle {
    flex: 0 0 20%;
  }

  &__toggle-button {
    @include button-reset;
    cursor: pointer;
    vertical-align: middle;

    .icon {
      height: 46px;
      width: 46px;
    }
  }

  &__logo {
    flex: 0 0 12%;

    .custom-logo {
      max-width: 100px;

      &--alternative {
        display: none;
      }
    }
  }

  &__nav {
    flex: 1;
    text-align: right;
  }

  &__misc {
    padding-left: $SPACING_M;
    text-align: right;
  }

  .site-nav {
    &__item {
      display: inline-block;
      font-size: 13px;
      font-weight: $WEIGHT_BLACK;
      padding: $SPACING_XL $SPACING_S;
      position: relative;
      text-transform: uppercase;
  
      &--has-dropdown:hover {
        .site-nav__dropdown {
          opacity: 1;
          visibility: visible;
        }
      }
    }

    &__caret {
      color: inherit;
    }

    &__dropdown {
      background-color: $COLOR_WHITE;
      border-top: 5px solid $COLOR_PRIMARY;
      left: 0;
      opacity: 0;
      padding: $SPACING_M 0;
      position: absolute;
      text-align: left;
      top: 100%;
      transition: 0.1s ease;
      visibility: hidden;
      width: 200px;
      z-index: 24;

      .site-nav__item {
        color: $COLOR_BLACK;
        font-weight: $WEIGHT_BOLD;
        padding: $SPACING_2XS $SPACING_L;
      }
  
      &.is-open {
        opacity: 1;
        visibility: visible;
      }
    }

    &__link {
      color: inherit;
      vertical-align: middle;

      &:hover {
        color: $COLOR_PRIMARY;
      }
    }
  }

  &__cta {
    font-size: 13px;
    text-decoration: none;
  }

  &.is-sticky {
    left: 0;
    position: fixed;
    top: 0;
  }

  &.is-detached {
    box-shadow: 0 0 20px -5px rgba($COLOR_BLACK, 0.3);
    transition: box-shadow 0.4s ease;
  }

  &.is-fixed {
    background-color: transparent;
    color: $COLOR_WHITE;
    transition: background-color 0.4s ease;

    &:not(.is-detached) {
      #{$PARENT}__cta {
        border-color: $COLOR_WHITE;
        color: $COLOR_WHITE;

        &:hover {
          background-color: $COLOR_WHITE;
          color: $COLOR_BLACK;
        }
      }

      #{$PARENT}__toggle {
        .icon__menu {
          g {
            stroke: $COLOR_WHITE;
          }
        }
      }

      #{$PARENT}__logo {
        .custom-logo {
          display: none;
  
          &--alternative {
            display: block;
          }
        }
      }
    }

    &.is-detached {
      background-color: $COLOR_WHITE;
      color: $COLOR_BLACK;
      transition: background-color 0.4s ease;
    }
  }

  @include mq($until: large) {
    .site-nav {
      &__item {
        padding: $SPACING_2XL $SPACING_XS;
      }
    }
  }

  @include mq($until: 900px) {
    .site-nav {
      &__item {
        padding: $SPACING_2XL $SPACING_2XS;
      }
    }
  }

  @include mq($from: 801px) {
    &__toggle {
      display: none;
    }
  }

  @include mq($until: 800px) {
    &__main {
      padding: $SPACING_S 0;
    }

    &__nav {
      display: none;
    }

    &__logo {
      flex: 1;
      text-align: left;

      .custom-logo {
        max-width: 80px;
      }
    }

    &__misc {
      flex: 0 0 20%;
      padding: 0;
    }

    &__toggle {
      text-align: right;
    }

    &__cta {
      display: none;
    }
  }
}