/**
 * Base: Buttons
 * -----------------------------------------------------------------------------
 * Styles for global button elements.
 */
.button {
  $PARENT: &;
  appearance: none;
  background-color: $COLOR_BUTTON;
  border: 2px solid transparent;
  color: $COLOR_TEXT_LIGHT;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  font-weight: $WEIGHT_BLACK;
  padding: $SPACING_S $SPACING_L;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    background-color: $COLOR_BUTTON_HOVER;
    color: $COLOR_TEXT_LIGHT;
  }

  &--primary {
    background-color: $COLOR_PRIMARY;

    &:hover {
      background-color: darken($COLOR_PRIMARY, 20%);
    }

    &#{$PARENT}--outlined {
      background-color: transparent;
      border-color: $COLOR_PRIMARY;
      color: $COLOR_PRIMARY;

      &:hover {
        background-color: darken($COLOR_PRIMARY, 20%);
        border-color: darken($COLOR_PRIMARY, 20%);
        color: $COLOR_TEXT_LIGHT;
      }
    }
  }

  &--secondary {
    background-color: $COLOR_SECONDARY;

    &:hover {
      background-color: darken($COLOR_SECONDARY, 20%);
    }

    &#{$PARENT}--outlined {
      background-color: transparent;
      border-color: $COLOR_SECONDARY;
      color: $COLOR_SECONDARY;

      &:hover {
        background-color: darken($COLOR_SECONDARY, 20%);
        border-color: darken($COLOR_SECONDARY, 20%);
        color: $COLOR_TEXT_LIGHT;
      }
    }
  }

  &--light {
    background-color: $COLOR_WHITE;
    color: $COLOR_PRIMARY;

    &:hover {
      background-color: $COLOR_PRIMARY;
      color: $COLOR_WHITE;
    }
  }

  &--outlined {
    background-color: transparent;
    border-color: $COLOR_BUTTON;
    color: $COLOR_BUTTON;

    &:hover {
      background-color: $COLOR_BUTTON;
      border-color: $COLOR_BUTTON;
      color: $COLOR_TEXT_LIGHT;
    }
  }
}