/**
 * Base: Icons
 * -----------------------------------------------------------------------------
 * Styles for icons and SVGs.
 */
.icon {
  fill: currentColor;
  height: 36px;
  vertical-align: middle;
  width: 36px;
}